[submodule "baselines/ViTEar[6]/pytorch_stacked_hourglass"]
	path = baselines/ViTEar[6]/pytorch_stacked_hourglass
	url = https://github.com/princeton-vl/pytorch_stacked_hourglass
[submodule "baselines/CIoEBT[34]/caffemodel2pytorch"]
	path = baselines/CIoEBT[34]/caffemodel2pytorch
	url = https://github.com/vadimkantorov/caffemodel2pytorch
[submodule "baselines/CIoEBT[34]/caffe"]
	path = baselines/CIoEBT[34]/caffe
	url = https://github.com/BVLC/caffe
